/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        hrl: hrl {
            compatible = "zmk,behavior-hold-tap";
            label = "HRL";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            flavor = "balanced";
            hold-trigger-on-release;
            hold-trigger-key-positions = <39 40 41 30 18 6 7 19 31 32 20 8 9 21 33 34 22 10 11 23 35>;
        };

        hrr: hrr {
            compatible = "zmk,behavior-hold-tap";
            label = "HRR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            flavor = "balanced";
            hold-trigger-on-release;
            hold-trigger-key-positions = <39 40 41 30 18 6 7 19 31 32 20 8 9 21 33 34 22 10 11 23 35>;
        };

        grease: grease {
            compatible = "zmk,behavior-mod-morph";
            label = "GREASE";
            bindings = <&kp ESC>, <&kp GRAVE>;

            #binding-cells = <0>;
            mods = <(MOD_LGUI)>;
        };

        shift: shift {
            compatible = "zmk,behavior-mod-morph";
            label = "SHIFT";
            bindings = <&sk LEFT_SHIFT>, <&caps_word>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };
    };

    combos {
        compatible = "zmk,combos";

        LeftBracket {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <31 32>;
        };

        RightBracket {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <32 33>;
        };

        LeftParen {
            bindings = <&kp LEFT_PARENTHESIS>;
            key-positions = <19 20>;
        };

        RightParen {
            bindings = <&kp RIGHT_PARENTHESIS>;
            key-positions = <20 21>;
        };

        Copy {
            bindings = <&kp LG(C)>;
            key-positions = <26 27>;
        };

        Paste {
            bindings = <&kp LG(V)>;
            key-positions = <27 28>;
        };

        Cut {
            bindings = <&kp LG(X)>;
            key-positions = <26 28>;
        };

        Hash {
            bindings = <&kp HASH>;
            key-positions = <3 15>;
        };

        Percent {
            bindings = <&kp PERCENT>;
            key-positions = <5 17>;
        };

        Dollar {
            bindings = <&kp DOLLAR>;
            key-positions = <4 16>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "Base";
            bindings = <
&kp ESCAPE     &kp Q         &kp W            &kp E                       &kp R              &kp T          &kp Y            &kp U              &kp I            &kp O            &kp P                   &kp EQUAL
&kp TAB        &hrl LCTRL A  &hrl LEFT_ALT S  &hrl LEFT_GUI D             &hrl LEFT_SHIFT F  &kp G          &kp H            &hrr LEFT_SHIFT J  &hrr LEFT_GUI K  &hrr LEFT_ALT L  &hrr LEFT_CONTROL SEMI  &kp SQT
&kp BACKSLASH  &kp Z         &kp X            &kp C                       &kp V              &kp B          &kp N            &kp M              &kp COMMA        &kp DOT          &kp FSLH                &kp MINUS
                                              &sk LA(LC(LG(LEFT_SHIFT)))  &lt 2 RETURN       &lt 3 SPACE    &lt 1 BACKSPACE  &shift             &kp GRAVE
            >;
        };

        Numbers {
            bindings = <
&trans  &trans  &kp N7  &kp N8  &kp N9  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp N0  &kp N4  &kp N5  &kp N6  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &kp N1  &kp N2  &kp N3  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        Fn {
            bindings = <
&trans  &trans  &kp F7  &kp F8  &kp F9  &kp F10    &trans      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &kp F4  &kp F5  &kp F6  &kp F11    &trans      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &kp F1  &kp F2  &kp F3  &kp F12    &trans      &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans     &kp DELETE  &trans  &trans
            >;
        };

        Navigation {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &kp HOME  &kp PAGE_DOWN   &kp PAGE_UP   &kp END    &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &kp LEFT  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans    &trans          &trans        &trans     &trans  &trans
                        &trans  &trans  &trans    &trans    &trans          &trans
            >;
        };
    };
};
